.list {
  width: 100%;
  margin: 20px auto;
  text-align: left;
  list-style: none;
  padding: 0 10px;
}

@media (min-width: 768px) {
  .list {
      margin-top: 0;
      margin-right: 20px;
  }
}

.list__item {
  background-color: #404040;
  padding: 10px 5px;
  color: #ffffff;
  cursor: pointer;
}

.list__item:not(:first-child) {
  margin: 10px 0;
}

.list__item:hover {
  background-color: rgb(149, 202, 70);
}

.name {
  font-weight: 700;
  margin-right: 1rem;
}