.table {
  border: 1px solid black;
  border-collapse: collapse;
  height: min-content;
  margin: 0 10px;
}

@media(min-width: 768px) {
  .table {
    width: 100%;
    margin: 0 auto;
  }
}

.table__row {
    cursor: pointer;
    width: 100%;
}

tbody .table__row:hover {
  background-color: #f30000;
  color: #ffffff;
}

.table__cell {
  border: 1px solid black;
  height: 50px;
}